/* all */

* {
    margin: 0;
    text-align: center;
    color: white;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8 {
    height: 650px;
    border: 1px solid black;
    width: 99.8%;
}

.wrapper4 {
    height: 730px;
    width: 99.8%;
    border: 1px solid black;
}

img {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}


/* all */


/* 1 page*/

header {
    width: 100%;
    height: 10.769%;
    background: rgba(0, 0, 0, 55%);
}

.logo {
    float: left;
    height: 100%;
    width: 12.45%;
    margin-left: 10.31%;
    background: url(logobf.png);
    background-size: 100% 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-right: 10.31%;
    font-size: 12px;
    margin-left: 30%;
}

.menu div {
    padding: 3% 0%;
    white-space: nowrap;
}

.menu a {
    padding: 2.5% 3%;
}

.title1s1 {
    margin-top: 1.38%;
    width: 46%;
    padding: 1%;
    height: 147px;
    margin-left: 26%;
    margin-right: 26%;
    background: rgba(0, 0, 0, 45%);
    line-height: 45px;
    border-radius: 16px;
}

.undertitle1s1 {
    font-size: 60px;
    width: 100%;
}

.undertitle2s1 {
    font-size: 21px;
    width: 100%;
}

.button1 {
    margin-top: 38px;
    margin-bottom: 24px;
    border: 1px solid black;
    width: 24%;
    height: 90px;
    margin-left: 38%;
    margin-right: 38%;
    background: linear-gradient(96.21deg, rgba(0, 0, 0, 0.65) 14.62%, rgba(74, 48, 81, 0.85) 100%, rgba(6, 4, 6, 0.85) 82.79%);
    border-radius: 100px;
    font-size: 27px;
    line-height: 88px;
}

.buttom2 {
    margin-top: 23px;
    border: 1px solid black;
    height: 68.78px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background: linear-gradient(96.21deg, rgba(0, 0, 0, 0.65) 14.62%, rgba(74, 48, 81, 0.85) 100%, rgba(6, 4, 6, 0.85) 82.79%);
    border-radius: 100px;
    font-size: 27px;
    line-height: 68px;
}

.wrapper1 {
    background: url(1wrapper.png) no-repeat center;
    background-size: 80% 100%;
}

.wrapper1 p {
    font-size: 27px;
}


/* 1 page*/


/* 2 page*/

.title1s2 {
    border: 3px solid black;
    width: 631px;
    margin-left: 25%;
    margin-right: 25%;
    height: 162px;
    margin-top: 3.5%;
    background: url(2title.png) no-repeat center;
    border-radius: 47px;
    background-size: 140% 140%;
    line-height: 5.9em;
    font-size: 27px;
    opacity: 70%;
}

.content1s2 {
    border: 1px solid black;
    height: 228px;
    width: 228px;
    border-radius: 100%;
    float: left;
    margin-top: 115px;
    margin-left: 16%;
    background: rgba(134, 118, 146, 0.4);
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    font-size: 27px;
    line-height: 8em;
    align-items: center;
}

.content2s2 {
    border: 1px solid black;
    height: 228px;
    width: 228px;
    border-radius: 100%;
    float: right;
    margin-top: 115px;
    margin-right: 16%;
    background: rgba(134, 118, 146, 0.4);
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    font-size: 27px;
    line-height: 8em;
    text-align: center;
}

.wrapper2 {
    background: url(2wrapper.png) no-repeat center;
    background-size: 80% 100%;
}


/* 2 page*/


/* 3 page*/

.wrapper3 {
    background: url(3wrapper.png)no-repeat center;
    background-size: 80% 100%;
}

.title1s3 {
    position: absolute;
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    left: 45%;
    top: 181%;
}

.circles1s3 {
    width: 145px;
    height: 145px;
    background: url(1s3content.png);
    background-size: 100%;
    border-radius: 89px;
    float: left;
    margin-left: 250px;
    margin-top: 53px;
    line-height: 130px;
    filter: drop-shadow(10px 6px 10px rgba(0, 0, 0, 0.25));
}

.circles2s3 {
    width: 155px;
    height: 155px;
    border-radius: 89px;
    float: left;
    margin-left: -11px;
    margin-top: 186px;
    background: url(2s3content.png);
    background-size: 100%;
    filter: drop-shadow(10px 6px 10px rgba(0, 0, 0, 0.25));
}

.circles3s3 {
    width: 140px;
    height: 140px;
    float: left;
    border-radius: 89px;
    margin-left: -270px;
    margin-top: 377px;
    background: url(3s3content.png);
    background-size: 100%;
    filter: drop-shadow(10px 6px 10px rgba(0, 0, 0, 0.25));
}

.circles4s3 {
    width: 87px;
    height: 87px;
    filter: drop-shadow(10px 6px 10px rgba(0, 0, 0, 0.25));
    background: url(4s3content.png);
    border-radius: 89px;
    font-size: 13px;
    line-height: 10px;
    background-size: 100%;
    float: left;
    margin-top: 350px;
    margin-left: 23px;
}

.circles5s3 {
    width: 90px;
    height: 90px;
    filter: drop-shadow(10px 6px 10px rgba(0, 0, 0, 0.25));
    background: url(5s3content.png);
    border-radius: 89px;
    font-size: 13px;
    line-height: 10px;
    background-size: 100%;
    float: left;
    margin-top: 205px;
    margin-left: -13px;
}

.circles6s3 {
    width: 145px;
    height: 145px;
    background: url(7s3content.png);
    background-size: 100%;
    border-radius: 70.5px;
    float: left;
    margin-top: 202px;
    margin-left: 130px;
}

.circles7s3 {
    width: 155px;
    height: 155px;
    background: url(6s3content.png);
    background-size: 100%;
    float: left;
    border-radius: 89px;
    margin-left: -400px;
    margin-top: 473px
}

.circles8s3 {
    width: 180px;
    height: 180px;
    background: url(8s3content.png);
    background-size: 100%;
    margin-top: 430px;
    float: left;
    border-radius: 99px;
    margin-left: -107px;
}


/* 3 page*/


/* 4 page*/

.title1s4 {
    margin-top: 34px;
}

.text1s4 {
    float: left;
    text-align: left;
    border: 1px solid black;
    width: 361px;
    height: 295px;
    margin-top: 164px;
    margin-left: 214px;
}

.circles1s4 {
    float: right;
    border: 1px solid black;
    height: 297.03px;
    width: 300px;
    border-radius: 300px;
    margin-top: 17px;
    margin-right: 214px;
}

.circles2s4 {
    float: right;
    border: 1px solid black;
    width: 300px;
    height: 297.03px;
    border-radius: 300px;
    margin-top: 334px;
    margin-right: -298px;
}


/* 4 page*/


/* 5 page*/

.title1s5 {
    margin-top: 18px;
    height: 117px;
    width: 425.97px;
    border: 1px solid black;
    margin-left: 470px;
}

.text1s5 {
    height: 468px;
    width: 516px;
    text-align: left;
    margin-left: 380px;
    border: 1px solid black;
    margin-top: 33px;
}


/* 5 page*/


/* 6 page*/

.title1s6 {
    margin-top: 30px;
    margin-bottom: 40px;
}


/* слайдер */


/* 6 page*/


/* 7 page*/

.title1s7 {}


/* 7 page*/


/* 8 page*/


/* 8 page*/
